{% extends "header.html" %}
{% block body %}
<h2>Add new trip</h2>

<form action="{{ url_for('submit') }}">
<div class="row">

    <div class="col-md-12 input-group">
	Trip locations
	<p>This will be a map where you can drop pins on the estimated location that you pulled fish</p>
    </div>

</div>

<div class="row">
    <div class="col-md-6 input-group">
	<label for="start"></label>
	<input type="date" class="form-control" name="start" id="startDate">
    </div>

    <div class="col-md-6 input-group">
	<label for="end"></label>
	<input type="date" class="form-control" name="end" id="endDate">
    </div>
</div>

<div class="row">
    <div class="col-md-6 input-group">
	<label for="count"></label>
	<!-- is number a valid input type???? -->
	<input type="number" onchanged="load_fish_forms()" class="form-control" name="count" id="fishCount">
    </div>
</div>

<div class="row">
     
</div>
</form>

<script>
 function load_fish_forms() {
     let fish_count = $('#fishCount').val()
     for(let i = 0; i < fish_count; ++i) {
     }
 }
</script>
{% endblock %}
